{% extends "base.html" %}

{% block title %}
    Multi-Factor Authentication
{% endblock title %}

{% block content %}
    <section style="display: flex; flex-direction: column;">
        <h2>QR code</h2>
        <p>Please scan this QR with your authenticator app</p>
        <img src="{{ url_for('wiki.path_static', filename=qrcode_filename) }}" alt="MFA QR Code" width="200" height="200">
        <p>To enhance your security, we recommend using an authenticator app for two-factor authentication.</p>
        <p>You can download an authenticator app from the link buttons:</p>
        <a href="https://play.google.com/store/" target="_blank">
            <button class="btn btn-primary">Google Play Store</button>
        </a><br>
        <a href="https://www.apple.com/app-store/" target="_blank">
            <button class="btn btn-primary">Apple App Store</button>
        </a><br>
    </section>

    <p>Once you have the TOTP token, click the "Login Page" button.</p>
    <a href="{{ url_for('wiki.user_login') }}">
        <button class="btn btn-primary">Login Page</button>
    </a>


    <script>
        let userNavigatingAway = false;

        function showSurveyPopup() {
            const isMFAPage = window.location.pathname === "{{ url_for('wiki.mfa') }}";

            if (!isMFAPage) {
                document.getElementById('surveyPopup').style.display = 'block';
            }
        }

        function closePopup() {
            document.getElementById('surveyPopup').style.display = 'none';
            userNavigatingAway = true;
        }

        document.addEventListener('mouseout', function (event) {
            if (!event.toElement && !event.relatedTarget) {
                setTimeout(showSurveyPopup, 5000);
            }
        });

        window.addEventListener('beforeunload', function (e) {
            if (!userNavigatingAway) {
                e.preventDefault();
                e.returnValue = '';
            }
        });
    </script>
{% endblock content %}

